aniso8601==7.0.0
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
Automat==0.7.0
autopep8==1.4.3
bitrix24-python3-client==0.3.4
-e git+https://github.com/AnikiKazuyama/btx_bot.git@6dc83fdf889f72d0cef495ceb5757fb2140f0c8f#egg=Btx_bot
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
crochet==1.10.0
cryptography==2.7
cssselect==1.0.3
Django==2.2.3
django-cors-headers==3.0.2
djangorestframework==3.9.4
drf-yasg==1.16.0
emoji==0.5.2
Flask==1.0.3
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
future==0.17.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
inflection==0.3.1
iso3166==1.0
isodate==0.6.0
isort==4.3.20
itsdangerous==1.1.0
itypes==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
lxml==4.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidimensional-urlencode==0.0.4
parsel==1.5.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.3.1
pyOpenSSL==19.0.0
pypiwin32==223
python-dateutil==2.8.0
python-dotenv==0.10.3
python-telegram-bot==11.1.0
pytz==2019.1
pywin32==224
queuelib==1.5.0
requests==2.22.0
ruamel.yaml==0.15.97
-e git+https://gitlab.com/angelsit-web/upwork/movies-parser.git@93c9634bac5e8676a1fbcf34442a3f3c68b25515#egg=scrapper&subdirectory=scrap\scraper
Scrapy==1.6.0
scrapy-inline-requests==0.3.1
scrapy-rotating-proxies==0.6.2
scrapy-splash==0.7.2
service-identity==18.1.0
six==1.12.0
sqlparse==0.3.0
-e git+https://gitlab.com/angelsit-web/upwork/movies-parser.git@93c9634bac5e8676a1fbcf34442a3f3c68b25515#egg=translater&subdirectory=scrap\scraper\scraper\movies_translate\translater
Twisted==19.2.0
typed-ast==1.3.5
typing==3.6.6
uritemplate==3.0.0
urllib3==1.25.3
virtualenv==16.4.3
w3lib==1.20.0
Werkzeug==0.15.4
wrapt==1.11.1
yandex-translater==6.0
zope.interface==4.6.0
